
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Overzicht leveringsvoorwaardenregels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Overzicht leveringsvoorwaardenregels</h1>
<div th:if="${not #lists.isEmpty(counts)}">
    <h2>Dog list</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Berichtnaam</th>
            <th>Leveringsdoel</th>

        </tr>
        <tr th:each="count : ${counts}">
            <td th:text="${count.id}"></td>
            <td th:text="${count.name}"></td>
            <td th:text="${count.age}"></td>
        </tr>
    </table>
</div>
<a href="/">Terug naar menu</a>
</body>

</html>
