<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Overzicht leveringsvoorwaardenregels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>Overzicht leveringsvoorwaardenregels</h1>

<form action="#" th:action="@{/list}" th:object="${filter}" method="post">
    <h2>Filter op bericht:</h2>
    <div th:if="${not #lists.isEmpty(berichten)}">
        <select th:name="berichtnaam">
            <option value=""> -- </option>
            <option th:each="bericht: ${berichten}"  th:value="${bericht.berichtnaam}" th:text="${bericht.berichtnaam}" />
        </select>

    </div>
    <h2>Filter op leveringsdoel:</h2>
    <div th:if="${not #lists.isEmpty(leveringsdoelen)}">
        <select th:name="leveringsdoel">
            <option value=""> -- </option>
            <option th:each="leveringsdoel: ${leveringsdoelen}"
                    th:value="${leveringsdoel.leveringsdoel}"
                    th:text="${leveringsdoel.leveringsdoel}" />
        </select>
    </div>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<p th:text="'gefilterd op bericht:' + ${filter.berichtnaam}"/>
<p th:text="'gefilterd op leveringsdoel:' + ${filter.leveringsdoel}"/>

<div th:if="${not #lists.isEmpty(counts)}">
    <h2>Leveringsvoorwaardenlijst</h2>
    <table class="table table-striped" style="width: 90%">
        <tr>
            <th style="width: 5%">Id</th>
            <th style="width: 25%">Berichtnaam</th>
            <th style="width: 10%">Leveringsdoel</th>
            <th>Pad naar gegeven</th>

        </tr>
        <tr th:each="count : ${counts}">
            <td th:text="${count.id}"></td>
            <td th:text="${count.berichtnaam}"></td>
            <td th:text="${count.leveringsdoel}"></td>
            <td th:text="${count.padnaargegeven}"></td>
        </tr>
    </table>
</div>
<p/>
<a href="/">Terug naar menu</a>
</body>

</html>
